$primary: #c99ee5;

$secondary: #71a9dd;

.formulario {
    background-color: $primary;
    margin: 30px;
    inline-size: 30px;

}

.btn-info {
    background-color: $secondary;
    margin: 30px;
}